#logo{
  width: 200px;
  height: auto;
  margin: -40px;
  background-color: #e6c8c8;
}
header{
 
  
}
#links{
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
 
  padding: 0px;
  
}

body{
  background-color: #0b1420;
  display: flex;
  width: auto;
  justify-content: center;
}
h1{
  font-size: 48px;
  font-weight: extra-bold;
  color:#f9faf8;
}
h2{
  color: #1f2937;
  font-size: 36px;
  font-weight: extra-bold;
}
.firstDiv{
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  flex: 1 2 auto;
}
.firstDiv-right{
  width: 500px;
  height: auto;
}

.secondDiv{
  background-color: #ffffff;
  
}
.images{
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
  justify-content: space-between;
  
  
}
.img-text{
  display: flex;
  flex-direction: column;
   
  
}
.img1{
  border:2px solid #3882f6;
  border-radius: 15%;
 width: 250px;
  height: 200px;
  gap: 20px;
  justify-content: space-around;
 
}
.thirdDiv{
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  display: flex;
  justify-content: center;
}
.fourthDiv{
  background-color: #3882f6;
  width: 800px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
}

button{
  background-color: #3882f6;
  border: 2px #ffffff solid;
  padding: 3px;
  border-radius: 15%;
  
}
.fourthDiv-right{
  margin: 10px 10px 120px 700px;

}
footer{
  color: #ffffff;
  display: flex;
  align-items: center;
}
